$maincolor-blue: #1A7DF0;
$maincolor-white: #FFFFFF;
$addcolor-yellow: #FFE711;
$addcolor-blue: #005BC5;
$addcolor-black: #333333;
$hower-yellow: #F9D100;
$hower-blue: #005BC5;
$break-point: 1100px;

